.rotate-image {
    width: 40px; 
    height: 40px; 
    position: relative;
    transform-style: preserve-3d;
    
  }

  .myIcon:hover .rotate-image{
    animation: rotate 2s infinite linear; 
  }

 /* .rotate-image{
    animation: rotate 4s infinite linear; 
  } */
  
  .rotate-image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: visible;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  

  a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: 0;
    background-color: purple;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}



.projContent{
  position:absolute;
  z-index: 10;
  bottom: 0;
  transform: translateY(100%);
  transition: 0.3s;
}

.projDivs:hover .projContent{
  transform: translateY(0);
}

.projDivs:hover{
  transform: scale(1.1);
}

.projDivs{
  transition: 0.3s ease;
}


.footer i{
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  color: #000000;
  transition: 0.5s ease;
}
.footer .fa-instagram:hover{
  color: white;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.footer .fa-github:hover{
  color: white;
  background: black;
}

.footer .fa-linkedin-in:hover{
  color: white;
  background: #0A66C2;
  
}

.footer .fa-x-twitter:hover{
  color: white;
  background: black;
}
